%title You Do Not Belong Here!
%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
:css
  body {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 25;
  }
  h1 {
    color: green;
  }
%h1 You do not belong here!
